{% extends "layout.html" %}
{% block body %}
    <script type="text/javascript">
        $(function() {
            var submit_form = function(e) {
                $.getJSON($SCRIPT_ROOT + '/_car_seats_img', {
                    n: $('#car-seats').val()
                }, function(data) {
                    $('#result').html('');
                    $('<img src="'+ data.result +'">').load(function() {
                        $(this).appendTo('#result');
                    });
                });
                return false;
            };

            $('#car-seats').bind('change', submit_form);
            $('#car-seats').trigger("change");
        });
    </script>
    <h1>Car seats occupation</h1>
    <p>
        <label for="car-seats">How many seats are occupied?</label>
        <select id="car-seats">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </p>
    <div id="result"></div>



{% endblock %}