{% extends "layout.html" %}
{% block body %}
    <div class="text-center">
        <h1>Vehicle Display Unit</h1>
    </div>
    <div class="container text-center">
        <div class="col-lg-6 col-md-6">
            <div class="col-lg-12 col-md-12">
                GPS / MAPS
                <div id="myMap" class="text-center map-navigation"></div>
            </div>
            <div class="col-lg-12 col-md-12">
                <label for="car-seats">How many seats are occupied?</label>
                <select id="car-seats">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <div id="car-occupation-img"></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="col-lg-12 col-md-12">
                <img src="static/images/vehicle_top_view.png" height="400">
            </div>
            <div class="col-lg-12 col-md-12">
                <canvas id="canvas-id"
                    data-type="radial-gauge"
                    data-width="300"
                    data-height="300"
                    data-units="Km/h"
                    data-min-value="0"
                    data-max-value="220"
                    data-major-ticks="0,20,40,60,80,100,120,140,160,180,200,220"
                    data-minor-ticks="2"
                    data-stroke-ticks="true"
                    data-highlights='[{"from": 160, "to": 220, "color": "rgba(200, 50, 50, .75)"}]'
                    data-color-plate="#fff"
                    data-border-shadow-width="0"
                    data-borders="false"
                    data-needle-type="arrow"
                    data-needle-width="2"
                    data-needle-circle-size="7"
                    data-needle-circle-outer="true"
                    data-needle-circle-inner="false"
                    data-animation-duration="1500"
                    data-animation-rule="linear">
                </canvas>
            </div>
        </div>

        <div class="col-lg-12 col-md-12">
            <div id="spotify" class="col-lg-6 col-md-6">
                <iframe src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:3rgsDhGHZxZ9sB9DQWQfuf" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
            </div>

            <div id="container-temperature" style="height: 330px; width:450px;" class="col-lg-3 col-md-3">
            </div>

            <div class="col-lg-3 col-md-3">
                <div>
                    CAR POWER
                </div>
                <div class="loader">
                    <div id="battery1" class="perc green2"></div>
                    <div id="battery2" class="perc green1"></div>
                    <div id="battery3" class="perc green0"></div>
                    <div id="battery4" class="perc red2"></div>
                    <div id="battery5" class="perc red1"></div>
                    <div id="battery6" class="perc red0"></div>
                </div>
            </div>
        </div>


        <div class="col-lg-12 col-md-12">
            NOTIFICATIONS
        </div>
        <div id="event"></div>
    </div>

    <div class="knob-surround">

        <div class="knob"></div>

        <span class="min">Min</span>
        <span class="max">Max</span>

        <div class="ticks">
            <div class="tick activetick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
            <div class="tick"></div>
        </div>
    </div>

<script>
    var waypts = [];
    var origin = "";
    var destination = "";

    function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('myMap'), {
            zoom: 6,
            center: {lat: 41.85, lng: -87.65}
        });
        directionsDisplay.setMap(map);

        /*document.getElementById('submit').addEventListener('click', function() {
            calculateAndDisplayRoute(directionsService, directionsDisplay);
        });*/
    }

    function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        /*var waypts = [];
        var checkboxArray = document.getElementById('waypoints');
        for (var i = 0; i < checkboxArray.length; i++) {
            if (checkboxArray.options[i].selected) {
                waypts.push({
                    location: checkboxArray[i].value,
                    stopover: true
                });
            }
        }*/

        directionsService.route({
            origin: origin,
            destination: destination,
            waypoints: waypts,
            optimizeWaypoints: true,
            travelMode: 'DRIVING'
        }, function(response, status) {
            if (status === 'OK') {
                directionsDisplay.setDirections(response);
                var route = response.routes[0];
                var summaryPanel = document.getElementById('directions-panel');
                summaryPanel.innerHTML = '';
                // For each route, display summary information.
                for (var i = 0; i < route.legs.length; i++) {
                    var routeSegment = i + 1;
                    summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment +
                        '</b><br>';
                    summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
                    summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
                    summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
                }
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }

    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }
    // random playlist
    setInterval(function () {
        // set some random directions and waypoints
        start = ["Halifax, NS","Boston, MA","New York, NY","Miami, FL"];
        waypoints = ["montreal, quebec","toronto, ont","chicago, il","winnipeg, mb","fargo, nd","calgary, ab","spokane, wa"]
        end = ["Vancouver, BC","Seattle, WA","San Francisco, CA","Los Angeles, CA"]

        origin = start[getRandomInt(0,3)]
        waypts.push({location: waypoints[getRandomInt(0,6)], stopover: true});
        destination = end[getRandomInt(0,3)]

        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('myMap'), {zoom: 6, center: {lat: 41.85, lng: -87.65}});
        directionsDisplay.setMap(map);
        calculateAndDisplayRoute(directionsService, directionsDisplay);
    }, 10000);
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDr1IfIv_-9ogb6S_5KXP6ge-7yK6B_9A&callback=initMap">
</script>

    <script src="static/js/spotify.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="static/js/temperature.js"></script>
    <script src="static/js/map.js"></script>
    <script src="static/js/car_seats.js"></script>
    <script src="static/js/gauge.min.js"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDr1IfIv_-9ogb6S_5KXP6ge-7yK6B_9A&callback=myMap"></script>-->
    <script src="static/js/battery.js" />
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="static/js/volume.js"></script>
    <script src="static/js/dashboard.js"></script>

{% endblock body %}

