<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static/css/volume.css" rel="stylesheet">

    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">

    <script src="static/js/ie-emulation-modes-warning.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript">var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script src="static/js/browserMqtt.js"></script>

    <script>
        var topics = [
            'vdu/gps_maps/in', 'vdu/car_top/in', 'vdu/car_seats/in', 'vdu/kms_display/in',
            'vdu/radio/in', 'vdu/temperature/in', 'vdu/power/in', 'vdu/alerts/in', 'vdu/rpm_display/in',
            'vdu/volume/in', 'scu/frontleftwindow/in', 'scu/temperature/out', 'gcu/gesture/out',
            'scu/frontleftdoor/in', 'scu/frontrightdoor/in', 'scu/frontrightwindow/in',
            'scu/rearleftdoor/in','scu/rearleftwindow/in', 'scu/rearrightdoor/in',
            'scu/rearrightwindow/in', 'scu/trunk/in', 'scu/status/in',
            'vdu/scenario/activate/in', 'vdu/scenario/selection/in'
        ];
        var client = mqtt.connect('ws://test.mosquitto.org:8080');
        client.on('connect', function () {
            client.subscribe(topics);
        });
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VDU</title>
</head>
<body>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <footer class="footer text-center">
        <p>&copy; 2017 Team 1, Inc.</p>
    </footer>


</body>